@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" />
<MudDatePicker Label="Show week number" ShowWeekNumbers="true"/>
<SurveyPrompt Title="How is Blazor working for you?" />
